body{
    font-family: "Open sans", Georgia, serif;
    margin:0 auto;
}
h1{
    font-size: 50px;
    text-transform: uppercase;
    margin:0;
}
h2{
    font-family: "Roboto", Verdana, sans-serif;
    margin:0;
}
h3{
    font-family: "Roboto", Verdana, sans-serif;
    margin:0;
    text-transform: uppercase; 
    font-size: 30px;
}
h4{
    margin:15% 0 0 0;
}
h5{
    margin:2% 0;
}
p{
    margin:0;
}
header{
    display: flex;
}
.photo{
    background-color: #e2e0e0;
    width:20%;
    padding:2%;
    display: flex;
    justify-content: center;
}
.photo img{
    overflow: hidden;
    width:300px;
    height:300px
    -moz-border-radius:150px;
    -webkit-border-radius:150px;
    border-radius:150px;
}
.nom{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 0 0 6%;
}
.stylePrenom{
    color:#8c3494;
}
.styleMetier{
    border-bottom:2px solid #e2e0e0;
}
#main{
    display: flex;
}
aside{
    display: flex;
    flex-direction: column;
    width: 24%;
    background-color: #e2e0e0;
}
.aside-title{
    background-color: #8c3494;
    padding:2%;
    text-align: center;
}
.contact{
    padding: 0 0 10% 10%;
}
.a-propos{
    padding:10%;
    text-align: justify;
}
.icone-loisirs{
    padding:2%;
    display: flex;
    justify-content: space-around;
}
.icone-loisirs i::before{
    display: flex;
    justify-content: space-around;
    margin-top:10px;
}
.fa-gamepad, .fa-music, .fa-hiking{
    font-size: 50px;
    padding: 2%;
    overflow: hidden;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border:1px solid #8c3494;
}
section{
    display: flex;
    flex-direction: column;
    width:60%;
    padding: 6%;
}
.formation h3, .experience h3, .titre-reco h3{
    margin-bottom: 1%;
    margin-left: 5%;
}
.titre-form, .titre-expe, .titre-reco{
    display: flex;
    border-bottom: 3px solid #8c3494;
}
.fa-graduation-cap{
    font-size:30px;
}
.form-1, .form-2, .form-3{
    display: flex;
    margin-bottom: 5%;
    margin-top:5%;
}
.date-form-1, .date-form-2, .date-form-3, .date-expe-1, .date-expe-2, .date-expe-3, .date-expe-4{
    display: flex;
    font-weight: bold;
    width:30%;
    line-height: 1em;
}
.fa-dot-circle{
    font-size: 20px;;
}
.fa-circle{
    font-size: 12px;
}
.date-form-1 p, .date-form-2 p, .date-form-3 p{
    margin-left: 5%;
}
.date-expe-1 p, .date-expe-2 p, .date-expe-3 p, .date-expe-4 p{
    margin-left: 5%;
}
.desc-form-1, .desc-form-2, .desc-form-3{
    width:70%;
}
.titre-desc-form{
    margin:0;
    text-transform: uppercase;
}
.formation i, .experience i, .titre-reco i{
    color:#8c3494;
}
.experience{
    margin-top:5%;
}
.expe-1, .expe-2, .expe-3, .expe-4{
    display: flex;
    margin-bottom: 5%;
    margin-top:5%;
}
.date-expe-1, .date-expe-2, .date-expe-3, .date-expe-4{
    width:30%;
}
.desc-expe-1, .desc-expe-2, .desc-expe-3, .desc-expe-4{
    width:70%;
}
.titre-desc-expe{
    margin:0;
    text-transform: uppercase;
}
footer{
    display: flex;
}
.loisirs-footer{
    width: 24%;
    background-color: #e2e0e0;
    padding-top:6%;
}
.loisirs{
    display: none;
}
.section-recommandations{
    display: flex;
    flex-direction: column;
    width:60%;
    padding:6%;
}
.recommandations{
    display: flex;
}
.reco-1, .reco-2{
    width: 50%;
    margin:5% 5%;
}

@media only screen and (max-width:800px) {
    body {
        display: flex;
        flex-direction: column;
    }
    header, #main, .formation, .experience{
        display: flex;
        flex-direction: column;
    }
    .photo, .nom, aside, section{
        width:100%;
        padding:0;
    }
    .contact{
        text-align: center;
        padding:0 0 2% 0;
    }
    h4{
        margin:5% 0 0 0;
    }
    .fa-circle{
        margin-top:2px;
    }
    .nom, .nom h1{
        margin:0 0 2% 0;
        text-align: center;
    }
    .titre-form, .titre-expe{
        display: flex;
        justify-content: center;
        margin-top:2%;
    }
    .form-1, .form-2, .form-3, .expe-1, .expe-2, .expe-3, .expe-4{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .date-form-1, .date-form-2, .date-form-3, .date-expe-1, .date-expe-2, .date-expe-3, .date-expe-4{
        width:100%;
        justify-content: center;
        background-color:#dddddd;
        padding:5px 0;
        margin-bottom: 5%;
    }
    footer{
        display: flex;
        flex-direction: column-reverse;
    }
    .section-recommandations, .loisirs-footer, footer{
        justify-content: center;
        width:100%;
        padding:0;
    }
    .recommandations{
        flex-direction: column;
        align-items: center;
    }
    .titre-reco{
        justify-content: center;
    }
    .titre-reco h3{
        font-size: 27px;
    }
    .reco-1, .reco-2{
        text-align: center;
    }
    .loisirs-footer{
        display: none;
        margin-top: 2%;
    }
    .loisirs{
        display: inline;
    }
}
